Repository GEM-benchmark/NL-Augmenter, pull requests merged in 2021-09, with the labels that each got.

#44 Swap characters
  transformations/swap_characters/README.md
  transformations/swap_characters/__init__.py
  transformations/swap_characters/test.json
  transformations/swap_characters/transformation.py
Labels: transformation

#107 Adding numeric filter
  filters/numeric/README.md
  filters/numeric/__init__.py
  filters/numeric/filter.py
  filters/numeric/test.json
Labels: filter

#143 Added phonetic match filter
  filters/soundex/README.md
  filters/soundex/__init__.py
  filters/soundex/filter.py
  filters/soundex/requirements.txt
  filters/soundex/test.json
Labels: filter

#72 Add Repetitions filter
  filters/repetitions/README.md
  filters/repetitions/__init__.py
  filters/repetitions/filter.py
  filters/repetitions/test.json
Labels: filter

#50 Emojis and EmoteIcons for Sentiment analysis Augmentation
  transformations/sentiment_emoji_augmenter/README.md
  transformations/sentiment_emoji_augmenter/__init__.py
  transformations/sentiment_emoji_augmenter/test.json
  transformations/sentiment_emoji_augmenter/transformation.py
Labels: transformation

#187 Add us_state_abbreviation_transformation
  transformations/country_state_abbreviation_transformation/README.md
  transformations/country_state_abbreviation_transformation/__init__.py
  transformations/country_state_abbreviation_transformation/country_state_abbreviation.json
  transformations/country_state_abbreviation_transformation/test.json
  transformations/country_state_abbreviation_transformation/transformation.py
Labels: transformation

#93 Transformer Contextual Word Replacement
  transformations/transformer_fill/README.md
  transformations/transformer_fill/__init__.py
  transformations/transformer_fill/requirements.txt
  transformations/transformer_fill/test.json
  transformations/transformer_fill/transformation.py
Labels: transformation

#151 Added multilingual_back_translation
  transformations/multilingual_back_translation/README.md
  transformations/multilingual_back_translation/__init__.py
  transformations/multilingual_back_translation/test.json
  transformations/multilingual_back_translation/transformation.py
Labels: transformation

#147 Add language filter
  filters/lang/README.md
  filters/lang/__init__.py
  filters/lang/filter.py
  filters/lang/requirements.txt
  filters/lang/test.json
Labels: filter

#202 Token replacement
  evaluation/README.md
  transformations/token_replacement/README.md
  transformations/token_replacement/__init__.py
  transformations/token_replacement/lookup_table_utils.py
  transformations/token_replacement/ocr.xz
  transformations/token_replacement/requirements.txt
  transformations/token_replacement/test.json
  transformations/token_replacement/transformation.py
  transformations/token_replacement/typos.xz
Labels: transformation

#178 Added Entity Mention Replacement Transformation
  transformations/entity_mention_replacement_ner/README.md
  transformations/entity_mention_replacement_ner/__init__.py
  transformations/entity_mention_replacement_ner/test.json
  transformations/entity_mention_replacement_ner/transformation.py
Labels: transformation

#186 Added emoji_icon_transformation
  transformations/emoji_icon_transformation/README.md
  transformations/emoji_icon_transformation/__init__.py
  transformations/emoji_icon_transformation/test.json
  transformations/emoji_icon_transformation/text2emoji.json
  transformations/emoji_icon_transformation/text2icon.json
  transformations/emoji_icon_transformation/transformation.py
Labels: transformation

#170 Code-Mixing Filter
  filters/code_mixing/README.md
  filters/code_mixing/__init__.py
  filters/code_mixing/filter.py
  filters/code_mixing/requirements.txt
  filters/code_mixing/test.json
Labels: filter

#288 [Bug] Spacy fix - Addresses global spacy model issue and pytest failure
  TestRunner.py
  initialize.py
  test/test_main.py
  transformations/close_homophones_swap/test.json
  transformations/close_homophones_swap/transformation.py
  transformations/emojify/transformation.py
  transformations/lexical_counterfactual_generator/test.json
  transformations/lexical_counterfactual_generator/transformation.py
  transformations/suspecting_paraphraser/test.json
  transformations/suspecting_paraphraser/transformation.py
  transformations/token_replacement/transformation.py
Labels: bug

#232 Pig Latin transform
  transformations/pig_latin/README.md
  transformations/pig_latin/__init__.py
  transformations/pig_latin/requirements.txt
  transformations/pig_latin/test.json
  transformations/pig_latin/transformation.py
Labels: transformation

#176 Universal bias filter
  filters/universal_bias/README.md
  filters/universal_bias/__init__.py
  filters/universal_bias/filter.py
  filters/universal_bias/test.json
Labels: filter

#283 Enhancement: Modified setup.py to install light transformation requirements
  .github/workflows/nl-action.yml
  TestRunner.py
  setup.py
  test/mapper.py
  transformations/change_date_format/transformation.py
Labels: enhancement

#165 Sentence Addition Transformation
  transformations/sentence_additions/README.md
  transformations/sentence_additions/__init__.py
  transformations/sentence_additions/test.json
  transformations/sentence_additions/transformation.py
Labels: transformation

#231 Visual Attack Letters
  evaluation/README.md
  transformations/visual_attack_letters/README.md
  transformations/visual_attack_letters/__init__.py
  transformations/visual_attack_letters/test.json
  transformations/visual_attack_letters/transformation.py
Labels: transformation

#182 Added underscore_trick
  transformations/underscore_trick/README.md
  transformations/underscore_trick/__init__.py
  transformations/underscore_trick/test.json
  transformations/underscore_trick/transformation.py
Labels: transformation

#180 Added weekday_month_abbreviation
  transformations/weekday_month_abbreviation/README.md
  transformations/weekday_month_abbreviation/__init__.py
  transformations/weekday_month_abbreviation/test.json
  transformations/weekday_month_abbreviation/transformation.py
  transformations/weekday_month_abbreviation/weekday_month_abb_en.json
  transformations/weekday_month_abbreviation/weekday_month_exp_en.json
Labels: transformation

#259 Added butter_fingers_perturbation_for_IL (Indian Languages)
  transformations/butter_fingers_perturbation_for_IL/README.md
  transformations/butter_fingers_perturbation_for_IL/__init__.py
  transformations/butter_fingers_perturbation_for_IL/key_mapping.json
  transformations/butter_fingers_perturbation_for_IL/test.json
  transformations/butter_fingers_perturbation_for_IL/transformation.py
Labels: transformation

#227 Style transfer paraphrasing
  transformations/style_paraphraser/LICENSE.md
  transformations/style_paraphraser/README.md
  transformations/style_paraphraser/__init__.py
  transformations/style_paraphraser/paraphraser_helpers/style_paraphraser.py
  transformations/style_paraphraser/test.json
  transformations/style_paraphraser/transformation.py
Labels: transformation

#185 Added unit_converter
  transformations/unit_converter/README.md
  transformations/unit_converter/__init__.py
  transformations/unit_converter/converter_plurals.json
  transformations/unit_converter/test.json
  transformations/unit_converter/transformation.py
Labels: transformation

#216 Spanish gender swap
  transformations/spanish_gender_swap/README.md
  transformations/spanish_gender_swap/__init__.py
  transformations/spanish_gender_swap/gazeteer/adjectives.txt
  transformations/spanish_gender_swap/gazeteer/adjectives_p.txt
  transformations/spanish_gender_swap/gazeteer/anglicismos.txt
  transformations/spanish_gender_swap/gazeteer/anglicismos_p.txt
  transformations/spanish_gender_swap/gazeteer/auxiliary.json
  transformations/spanish_gender_swap/gazeteer/comunes.txt
  transformations/spanish_gender_swap/gazeteer/comunes_p.txt
  transformations/spanish_gender_swap/gazeteer/gender_country/NOTE.txt
  transformations/spanish_gender_swap/gazeteer/gender_country/country_gender_names.json
  transformations/spanish_gender_swap/gazeteer/gender_country/female2country.json
  transformations/spanish_gender_swap/gazeteer/gender_country/male2country.json
  transformations/spanish_gender_swap/gazeteer/gentilicios.txt
  transformations/spanish_gender_swap/gazeteer/gentilicios_p.txt
  transformations/spanish_gender_swap/gazeteer/inflections-fixed.txt
  transformations/spanish_gender_swap/gazeteer/inflections-fixed_p.txt
  transformations/spanish_gender_swap/gazeteer/inflections-wiktionary.txt
  transformations/spanish_gender_swap/gazeteer/inflections-wiktionary_p.txt
  transformations/spanish_gender_swap/gender_agreement.py
  transformations/spanish_gender_swap/requirements.txt
  transformations/spanish_gender_swap/test.json
  transformations/spanish_gender_swap/transformation.py
Labels: transformation

#213 Common misspellings
  evaluation/README.md
  transformations/correct_common_misspellings/README.md
  transformations/correct_common_misspellings/__init__.py
  transformations/correct_common_misspellings/spell_corrections.json
  transformations/correct_common_misspellings/test.json
  transformations/correct_common_misspellings/transformation.py
Labels: transformation

#206 Ocr perturbation
  evaluation/README.md
  test/helper.py
  test/mapper.py
  transformations/ocr_perturbation/README.md
  transformations/ocr_perturbation/__init__.py
  transformations/ocr_perturbation/example.png
  transformations/ocr_perturbation/requirements.txt
  transformations/ocr_perturbation/test.json
  transformations/ocr_perturbation/transformation.py
Labels: transformation

#286 Gender bias filter integration
  filters/gender_bias/README.md
  filters/gender_bias/__init__.py
  filters/gender_bias/filter.py
  filters/gender_bias/lexicals.json
  filters/gender_bias/test.json
Labels: filter

#277 added Britishness filter
  filters/englishness/README.md
  filters/englishness/__init__.py
  filters/englishness/filter.py
  filters/englishness/spelling_map.json
  filters/englishness/test.json
  filters/englishness/vocab_map.json
Labels: filter

#215 Implement speech disfluency perturbation
  transformations/speech_disfluency_perturbation/README.md
  transformations/speech_disfluency_perturbation/__init__.py
  transformations/speech_disfluency_perturbation/test.json
  transformations/speech_disfluency_perturbation/transformation.py
Labels: transformation

#194 Adding filler_word augmentation
  transformations/filler_word_augmentation/README.md
  transformations/filler_word_augmentation/__init__.py
  transformations/filler_word_augmentation/test.json
  transformations/filler_word_augmentation/transformation.py
Labels: transformation

#263 Added abbreviation/slang task
  transformations/abbreviation_transformation/README.md
  transformations/abbreviation_transformation/__init__.py
  transformations/abbreviation_transformation/abbrev.py
  transformations/abbreviation_transformation/phrase_abbrev_dict.json
  transformations/abbreviation_transformation/test.json
  transformations/abbreviation_transformation/transformation.py
  transformations/abbreviation_transformation/word_abbrev_dict.json
Labels: transformation

#210 Added slangificator
  transformations/slangificator/README.md
  transformations/slangificator/Slang_Adjectives.txt
  transformations/slangificator/Slang_Adverbs.txt
  transformations/slangificator/Slang_Nouns.txt
  transformations/slangificator/__init__.py
  transformations/slangificator/test.json
  transformations/slangificator/transformation.py
Labels: transformation

#264 Adding Oscillatory Hallucinations
  filters/oscillatory_hallucination/README.md
  filters/oscillatory_hallucination/__init__.py
  filters/oscillatory_hallucination/filter.py
  filters/oscillatory_hallucination/test.json
Labels: transformation

#224 Gender NeoPronoun Transform
  transformations/gender_neopronouns/README.md
  transformations/gender_neopronouns/__init__.py
  transformations/gender_neopronouns/constants.py
  transformations/gender_neopronouns/data/README.md
  transformations/gender_neopronouns/data/df_examples_neo.csv
  transformations/gender_neopronouns/data/df_neopronoun_17.csv
  transformations/gender_neopronouns/data/df_pronounce_neo.csv
  transformations/gender_neopronouns/notebooks/dataset_generate_neopronouns.ipynb
  transformations/gender_neopronouns/requirements.txt
  transformations/gender_neopronouns/test.json
  transformations/gender_neopronouns/transformation.py
Labels: transformation

#203 Added ShuffleWithinSegments
  transformations/shuffle_within_segments/README.md
  transformations/shuffle_within_segments/__init__.py
  transformations/shuffle_within_segments/test.json
  transformations/shuffle_within_segments/transformation.py
Labels: transformation

#188 Add Urban Thesaurus transformation
  transformations/urban_dict_swap/README.md
  transformations/urban_dict_swap/__init__.py
  transformations/urban_dict_swap/test.json
  transformations/urban_dict_swap/transformation.py
Labels: transformation

#245 Adding financial amounts replacement
  evaluation/README.md
  test/mapper.py
  transformations/replace_financial_amounts/README.md
  transformations/replace_financial_amounts/__init__.py
  transformations/replace_financial_amounts/currency_abbr.txt
  transformations/replace_financial_amounts/entity_financial_amount.py
  transformations/replace_financial_amounts/rates.py
  transformations/replace_financial_amounts/requirements.txt
  transformations/replace_financial_amounts/test.json
  transformations/replace_financial_amounts/transformation.py
Labels: transformation

#154 Grapheme to phoneme transformation
  transformations/grapheme_to_phoneme_transformation/README.md
  transformations/grapheme_to_phoneme_transformation/__init__.py
  transformations/grapheme_to_phoneme_transformation/requirements.txt
  transformations/grapheme_to_phoneme_transformation/test.json
  transformations/grapheme_to_phoneme_transformation/transformation.py
Labels: transformation

#244 Added abbreviation and acronyms replacement
  docs/keywords.md
  transformations/replace_abbreviation_and_acronyms/README.md
  transformations/replace_abbreviation_and_acronyms/__init__.py
  transformations/replace_abbreviation_and_acronyms/abbreviations.txt
  transformations/replace_abbreviation_and_acronyms/requirements.txt
  transformations/replace_abbreviation_and_acronyms/test.json
  transformations/replace_abbreviation_and_acronyms/transformation.py
Labels: transformation

#260 Special casing Filter
  filters/special_casing/README.md
  filters/special_casing/__init__.py
  filters/special_casing/filter.py
  filters/special_casing/test.json
Labels: transformation

#230 Add writing system replacement transformation
  transformations/writing_system_replacement/README.md
  transformations/writing_system_replacement/__init__.py
  transformations/writing_system_replacement/test.json
  transformations/writing_system_replacement/transformation.py
Labels: transformation

#126 Generate Yes-or-No Question from Statement
  test/mapper.py
  transformations/change_date_format/test.json
  transformations/diverse_paraphrase/requirements.txt
  transformations/yes_no_question/README.md
  transformations/yes_no_question/__init__.py
  transformations/yes_no_question/requirements.txt
  transformations/yes_no_question/test.json
  transformations/yes_no_question/transformation.py
Labels: transformation

#118 Fix typos discovered by codespell in #68
  TestRunner.py
  dataset.py
  evaluation/evaluate_text_generation.py
  filters/gender_bias/filter.py
  filters/group_inequity/README.md
  filters/group_inequity/filter.py
  filters/special_casing/README.md
  filters/token-amount/README.md
  filters/universal_bias/README.md
  filters/universal_bias/filter.py
  test/test_main.py
  transformations/adjectives_antonyms_switch/README.md
  transformations/adjectives_antonyms_switch/transformation.py
  transformations/butter_fingers_perturbation_for_IL/transformation.py
  transformations/change_date_format/transformation.py
  transformations/change_two_way_ne/README.md
  transformations/chinese_butter_fingers_perturbation/README.md
  transformations/close_homophones_swap/README.md
  transformations/formality_change/README.md
  transformations/gender_culture_diverse_name/README.md
  transformations/gender_culture_diverse_name_two_way/README.md
  transformations/gender_neopronouns/README.md
  transformations/gender_neopronouns/data/README.md
  transformations/gender_swap/transformation.py
  transformations/grapheme_to_phoneme_transformation/README.md
  transformations/grapheme_to_phoneme_transformation/transformation.py
  transformations/greetings_and_farewells/README.md
  transformations/insert_abbreviation/README.md
  transformations/lost_in_translation/README.md
  transformations/mix_transliteration/README.md
  transformations/multilingual_dictionary_based_code_switch/transformation.py
  transformations/multilingual_lexicon_perturbation/transformation.py
  transformations/negate_strengthen/README.md
  transformations/negate_strengthen/transformation.py
  transformations/neural_question_paraphraser/README.md
  transformations/p1_noun_transformation/transformation.py
  transformations/pig_latin/README.md
  transformations/random_upper_transformation/README.md
  transformations/replace_abbreviation_and_acronyms/README.md
  transformations/replace_financial_amounts/rates.py
  transformations/slangificator/transformation.py
  transformations/spanish_gender_swap/README.md
  transformations/speech_disfluency_perturbation/README.md
  transformations/style_paraphraser/README.md
  transformations/subject_object_switch/README.md
  transformations/transformer_fill/README.md
  transformations/transformer_fill/transformation.py
  transformations/whitespace_perturbation/README.md
  transformations/writing_system_replacement/README.md
  transformations/writing_system_replacement/transformation.py
Labels: low priority
